.dashboard-wrapper
  .dashboard-header
  .dashboard-nav
    .nav-item
      %pПользователи
    .nav-item
      %pАвторизации
    .nav-item
      %pАктивность
  .dashboard-content
    .dash-card
      .header
        %pВходы в систему:
      .body
        - @authorizations.each do |authorization|
          .card-item
            %p
              %i(class="fa fa-clock-o")
              = authorization.sign_in_at.strftime("%d.%m.%Y %H:%M")
            %p
              %i(class="fa fa-user")
              = authorization.sign_in_officer
            %p
              %i(class="fa fa-desktop")
              = authorization.sign_in_ip
    .dash-card
      .header
        %pСоздать пользователя:
      .card-item(class="officer-form")
        = simple_form_for Officer.new, url: new_officer_url(Officer.new) do |f|
          .input
            = f.text_field :email, placeholder: "E-mail"
          .input
            = f.text_field :name, placeholder: "Имя"
          .input
            = f.text_field :username, placeholder: "Логин"
          .input
            = f.text_field :password, placeholder: "Пароль"
          = f.submit 'Создать'
    .dash-card
      .header
        %pРапорты с несоответствиями:
      - if @reports_with_issues
        - @reports_with_issues.each do |r|
          .card-item(class="card-item-reports")
            %p= r.car.call_num
            %p= "Дата: #{r.report_date.strftime("%d/%m/%Y")}"
            %p= "Автомобиль: #{r.car.name}"
            %p= "Номерной знак: #{r.car.legal_num}"
            %p= "Ответственный офицер: #{r.officer.name}"
            - if !r.mileage_match?
              %p(class="mileage-different wrong") Пробег не соответствует 
            - if r.fuel_difference
              %p="Заправлено на  #{r.fuel_difference}  л больше "
            - if r.overspeed > 0
              %p= "Превышение скорости на #{r.overspeed} км/ч"
    .dash-card
      .header
        %pИзменения рапортов:
      - Edition.all.each do |e|
        .card-item(class="card-item-editions")
          .item-header
            %p= "#{e.officer.name} редактировал рапорт №#{e.report.id} за #{e.report.report_date.strftime("%d/%m/%Y")}"
          .item-body
            %p= e.content.html_safe
          .item-footer
            %p="Дата изменения: #{e.created_at.strftime("%d/%m/%Y")}"