.dashboard-wrapper
  .dashboard-header
  .dashboard-nav
    .nav-item
      = link_to 'Дежурные офицеры', url_for(:controller => 'dashboard', :action => 'officers')
    .nav-item
      = link_to 'Авторизации', url_for(:controller => 'dashboard', :action => 'authorizations')
    .nav-item
      = link_to 'Активность', url_for(:controller => 'dashboard', :action => 'activity')
  .dashboard-content
    .dash-card
      .header
        %pРапорты с несоответствиями:
      - if @reports_with_issues
        - @reports_with_issues.each do |r|
          .card-item(class="card-item-reports")
            %p= r.car.call_num
            %p= "Дата: #{r.report_date.strftime("%d/%m/%Y")}"
            %p= "Автомобиль: #{r.car.name}"
            %p= "Номерной знак: #{r.car.legal_num}"
            %p= "Ответственный офицер: #{r.officer.name}"
            - if !r.mileage_match?
              %p(class="mileage-different wrong") Пробег не соответствует 
            - if r.fuel_difference
              %p="Заправлено на  #{r.fuel_difference}  л больше "
            - if r.overspeed > 0
              %p= "Превышение скорости на #{r.overspeed} км/ч"