.dashboard-wrapper(class="officers-wrapper")
  .dashboard-content
    .officer-form-wrapper
      .officer-form
        .header
          %pДобавить офицера:
          %i(class="fa fa-remove")
        .card-item(class="form")
          = simple_form_for Officer.new do |f|
            .input
              = f.text_field :email, placeholder: "E-mail"
            .input
              = f.text_field :name, placeholder: "ФИО"
            .input
              = f.text_field :username, placeholder: "Логин"
            .input
              = f.text_field :password, placeholder: "Пароль"
            = f.submit 'Создать'
    .officers
      .officers-header
        %pСписок дежурных офицеров
        %p(class="add-officer")
          %i(class="fa fa-plus-square")
          Добавить офицера
      .officers-content
        = render 'officers_index'