.container
  - @cars.each do |f|
    .card
      .car-image(style="background-image:url(#{f.car_photo.url});")
        .car-number
          .flag
          %p= f.legal_num
      .car-info
        %p(class="call-num")
          = f.call_num
        %h4= f.name
        %p
          %i(class="fa fa-map-marker")
          = f.car_base
      .car-report-button
        %span(class="show-form")
          %i(class="fa fa-pie-chart")
          Создать рапорт
        .report-form-wrapper
          .car-report-form
            %i(class="fa fa-times close-form")
            = simple_form_for(@report) do |g|
              - if @report.errors.any?
                #error_explanation
                  %h2= "#{pluralize(@report.errors.count, "error")} prohibited this report from being saved:"
                  %ul
                    - @report.errors.full_messages.each do |msg|
                      %li= msg
              .report-form-header
                %p(class="call-num")
                  = f.call_num
                %p
                  %i(class="fa fa-car")
                  = f.name
                %p
                  %i(class="fa fa-tags")
                  = f.legal_num
                %p
                  %i(class="fa fa-map-marker")
                  = f.car_base
              .report-info-header
                .report-date
                  %i(class="fa fa-calendar")
                  = g.text_field :report_date, value: Date.today.strftime("%d/%m/%Y")
                %p
                  %i(class="fa fa-shield")
                  = "Дежурный офицер: #{current_officer.name}"
              .col-header
                %pДанные по пробегу:
              .col-car-data
                .field
                  = g.hidden_field :officer_id, :value => @author.id
                .field
                  = g.hidden_field :car_id, :value => f.id
                .field
                  = g.number_field :mileage_before, placeholder: "Пробег перед сменой", :required => true
                .field
                  = g.number_field :mileage_after, placeholder: "Пробег после смены", :required => true
                .field
                  = g.number_field :mileage_board, placeholder: "Пробег по бортовому журналу", :required => true
                .field
                  = g.number_field :mileage_day_gps, placeholder: "Пробег за смену GPS", :required => true
                .field
                  = g.number_field :max_speed, placeholder: "Максимальная скорость", :required => true
                .field
                  = g.text_field :fuel_income, placeholder: "Заправлено топлива"
              .col-header
                %pУкомплектованность экипажа:
              .col-car-kit
                .field
                  %p Радиостанции автомобильные:
                  .field-input
                    %span(class="btn-minus")
                      = "-"
                    = g.number_field :radio_exist_quantity, placeholder: "0"
                    %span(class="btn-plus")
                      +
                .field
                  %p Радиостанции переносные:
                  .field-input
                    %span(class="btn-minus")
                      = "-"
                    = g.number_field :radio_portable_exist, placeholder: "0"
                    %span(class="btn-plus")
                      +
                .field
                  %p Бронежилеты:
                  .field-input
                    %span(class="btn-minus")
                      = "-"
                    = g.number_field :armor_exist_quantity, placeholder: "0"
                    %span(class="btn-plus")
                      +
                .field
                  %p Каски:
                  .field-input
                    %span(class="btn-minus")
                      = "-"
                    = g.number_field :helmet_exist_quantity, placeholder: "0"
                    %span(class="btn-plus")
                      +
                .field
                  %p Палки резиновые:
                  .field-input
                    %span(class="btn-minus")
                      = "-"
                    = g.number_field :baton_exist, placeholder: "0"
                    %span(class="btn-plus")
                      +
                .field
                  %p Пистолеты:
                  .field-input
                    %span(class="btn-minus")
                      = "-"
                    = g.number_field :pistol_exist, placeholder: "0"
                    %span(class="btn-plus")
                      +
                .field
                  %p Автоматы:
                  .field-input
                    %span(class="btn-minus")
                      = "-"
                    = g.number_field :machine_gun_exist, placeholder: "0"
                    %span(class="btn-plus")
                      +
                .field
                  %p
                    Планшет
                    %brв наличии
                  .report-checkbox
                    = g.check_box :tablet_exist, :id => "report_tablet_exist_#{f.id}"
                    = label_tag "report_tablet_exist_#{f.id}", ''
                .field
                  %p
                    Наличие комплекта
                    %br
                    (огнетушитель, знак, аптечка)
                  .report-checkbox
                    = g.check_box :car_kit, :id => "report_car_kit_#{f.id}"
                    = label_tag "report_car_kit_#{f.id}", ''
              .report-form-footer
                %p
                  = "Ответственный офицер: #{current_officer.name}"
                %p(class="actions")
                  = g.submit 'Создать рапорт', :disabled => true