= simple_form_for(@car) do |f|
  - if @car.errors.any?
    #error_explanation
      %h2= "#{pluralize(@car.errors.count, "error")} prohibited this car from being saved:"
      %ul
        - @car.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :legal_num
    = f.text_field :legal_num
  .field
    = f.label :call_num
    = f.text_field :call_num
  .field
    = f.label :mileage
    = f.text_field :mileage
  .field
    = f.label :car_base
    = f.text_field :car_base
  .field
    = f.label :car_photo
    = f.file_field :car_photo
  .field
    = f.label "Количество автомобильных радиостанций:"
    = f.number_field :radio_auto_quantity
  .field
    = f.label "Количество переносных радиостанций:"
    = f.number_field :radio_portable_quantity
  .field
    = f.label "Количество бронежилетов:"
    = f.number_field :armor_quantity
  .field
    = f.label "Количество сфер:"
    = f.number_field :helmet_quantity
  .field
    = f.label "Количество палок резиновых:"
    = f.number_field :baton_quantity
  .field
    = f.label "Количество пистолетов:"
    = f.number_field :pistol_quantity
  .field
    = f.label "Количество автоматов:"
    = f.number_field :machine_gun_quantity
  .actions
    = f.submit 'Save'
