.widgets-row
  .car-block(class="animated fadeIn")
    %p
      Пробег по спидометру
      %br
      за период
    %h1= "#{@car.calculateTotalMileage("mileage_day", @widgetStart, @widgetEnd)} км"
  .car-block(class="animated fadeIn")
    %p
      Пробег по бортовому
      %br
      журналу за период
    %h1= "#{@car.calculateTotalMileage("mileage_board", @widgetStart, @widgetEnd)} км"
  .car-block(class="animated fadeIn")
    %p
      Пробег по GPS
      %br
      за период
    %h1= "#{@car.calculateTotalMileage("mileage_day_gps", @widgetStart, @widgetEnd)} км"
  .car-block(class="animated fadeIn")
    %p
      Средний пробег в день
      %br
      за период
    %h1= "#{(@car.calculateTotalMileage("mileage_day", @widgetStart, @widgetEnd)/@period).round(1)} км"
  .car-block(class="animated fadeIn")
    %p
      Расход топлива за
      %br
      период (10 л/100 км)
    %h1= "#{@car.calculateTotalFuelSpend(@widgetStart, @widgetEnd)} л"
  .car-block(class="animated fadeIn")
    %p
      Заправлено топлива
      %br
      за период
    %h1= "#{@car.calculateTotalFuelIncome(@widgetStart, @widgetEnd)} л"
  .car-block(class="animated fadeIn")
    %p
      Средний расход топлива
      %br
      в день (10 л/100 км)
    %h1= "#{(@car.calculateTotalFuelSpend(@widgetStart, @widgetEnd)/@period).round(1)} л"
  .car-block(class="animated fadeIn")
    %p
      Средняя заправка в день
      %br
      за период
    %h1= "#{(@car.calculateTotalFuelIncome(@widgetStart, @widgetEnd)/@period).round(1)} л"
  .car-block(class="animated fadeIn")
    %p
      Разница запаравки и
      %br
      расхода за период
    %h1= "#{@car.calculateFuelDifference(@widgetStart, @widgetEnd)} л"