.cars-container
  - @cars.each do |car|
    .card
      .car-image(style="background-image:url(#{car.car_photo.url});")
        .car-number
          .flag
          %p= car.legal_num
      .car-info
        %p(class="call-num")
          = car.call_num
        %h4= car.name
        %p
          %i(class="fa fa-map-marker")
          = car.car_base
      .car-report-button
        = link_to raw('<i class="fa fa-car"></i>Просмотреть'), car, class: "show-car"
