.car-page-container
  .car-info-card
    .car-info-image(style="background-image:url(#{@car.car_photo.url});")
    .car-info-header
      %p= @car.name
    .car-info-data
      %p= "Номерной знак: #{@car.legal_num}"
      %p= "Номер ГОР: #{@car.call_num}"
      %p
        Местоположение:
        = @car.car_base
    .car-info-footer
      - if current_officer.admin?
        = link_to raw('<i class="fa fa-cog"></i>Изменить'), edit_car_path(@car), class: "car-btn"
        = link_to raw('<i class="fa fa-trash"></i>Удалить'), @car, :method => :delete, :data => { :confirm => 'Are you sure?'}, class: "car-btn"
  .widgets
    = render 'widgets'