.report-edit-container
  .report-edit-form
    .car-report-form
      = simple_form_for(@report) do |g|
        - if @report.errors.any?
          #error_explanation
            %h2= "#{pluralize(@report.errors.count, "error")} prohibited this report from being saved:"
            %ul
              - @report.errors.full_messages.each do |msg|
                %li= msg
        .report-edit-header
          %p
            Редактирование рапорта
            %span= "##{@report.id}"
        .report-form-header
          %p(class="call-num")
            = @car.call_num
          %p
            %i(class="fa fa-car")
            = @car.name
          %p
            %i(class="fa fa-tags")
            = @car.legal_num
          %p
            %i(class="fa fa-map-marker")
            = @car.car_base
        .report-info-header
          .report-date
            %i(class="fa fa-calendar")
            = g.text_field :report_date, value: @report.report_date.strftime("%d/%m/%Y")
          %p
            = "Дежурный офицер: #{@report.officer.name}"
        .col-header
          %pДанные по пробегу:
        .col-car-data
          .field
            %pПробег на начало смены:
            = g.number_field :mileage_before, placeholder: "Пробег перед сменой"
          .field
            %pПробег на конец смены:
            = g.number_field :mileage_after, placeholder: "Пробег после смены"
          .field
            %pПробег по бортовому журналу:
            = g.number_field :mileage_board, placeholder: "Пробег по бортовому журналу"
          .field
            %pПробег по GPS:
            = g.number_field :mileage_day_gps, placeholder: "Пробег за смену GPS"
          .field
            %pМаксимальная скорость:
            = g.number_field :max_speed, placeholder: "Максимальная скорость"
          .field
            %pЗаправлено топлива:
            = g.text_field :fuel_income, placeholder: "Заправлено топлива"
        .col-header
          %pУкомплектованность экипажа:
        .col-car-kit
          .field
            %p Радиостанции автомобильные:
            .field-input
              %span(class="btn-minus")
                = "-"
              = g.number_field :radio_exist_quantity
              %span(class="btn-plus")
                +
          .field
            %p Радиостанции переносные:
            .field-input
              %span(class="btn-minus")
                = "-"
              = g.number_field :radio_portable_exist
              %span(class="btn-plus")
                +
          .field
            %p Бронежилеты:
            .field-input
              %span(class="btn-minus")
                = "-"
              = g.number_field :armor_exist_quantity
              %span(class="btn-plus")
                +
          .field
            %p Каски:
            .field-input
              %span(class="btn-minus")
                = "-"
              = g.number_field :helmet_exist_quantity
              %span(class="btn-plus")
                +
          .field
            %p Палки резиновые:
            .field-input
              %span(class="btn-minus")
                = "-"
              = g.number_field :baton_exist
              %span(class="btn-plus")
                +
          .field
            %p Пистолеты:
            .field-input
              %span(class="btn-minus")
                = "-"
              = g.number_field :pistol_exist
              %span(class="btn-plus")
                +
          .field
            %p Автоматы:
            .field-input
              %span(class="btn-minus")
                = "-"
              = g.number_field :machine_gun_exist
              %span(class="btn-plus")
                +
          .field
            %p
              Планшет
              %brв наличии
            .report-checkbox
              = g.check_box :tablet_exist
              %label(for="report_tablet_exist")
          .field
            %p
              Наличие комплекта
              %br
              (огнетушитель, знак, аптечка)
            .report-checkbox
              = g.check_box :car_kit
              %label(for="report_car_kit")
        .report-form-footer
          %p
            = "Ответственный офицер: #{@report.officer.name}"
          %p(class="actions")
            = g.submit 'Сохранить изменения'