.reports-search-form
  = search_form_for @q do |q|
    %pПоиск рапорта:
    = q.search_field :report_date_eq, class: "reports-search-field search-input", placeholder: "Дата"
    = q.search_field :car_call_num_eq, placeholder: "Позывной"
    = q.search_field :car_legal_num_start, placeholder: "Номерной знак"
    = q.submit "Найти рапорт"
.reports-container
  - if warning
    .notice-message(class="warning-message")
      %p= warning
  - @reports.order('id desc').each do |report|
    .report
      %table(class="reports-table")

        %tbody
          %tr(class="reports-header")
            %td= 'Позывной'
            %td= 'Пробег начало смены'
            %td= 'Пробег конец смены'
            %td= 'Пробег за смену'
            %td= 'Пробег по бортовому журналу'
            %td= 'Пробег за смену GPS'
            %td= 'Максимальная скорость'
            %td= 'Потрачено топлива'
            %td= 'Заправлено топлива'
            - if report.fuel_balance
              %td= 'Остаток в баке'
          %tr(class="reports-body")
            %td
              %p(class="call-num")= Car.find_by(:id => report.car_id).call_num
            %td= "#{report.mileage_before} км"
            %td= "#{report.mileage_after} км"
            %td= "#{report.mileage_day} км"
            %td= "#{report.mileage_board} км"
            %td= "#{report.mileage_day_gps} км"
            %td= "#{report.max_speed} км/ч"
            %td= "#{report.fuel_spend} л"
            %td= "#{report.fuel_income} л"
            - if report.fuel_balance
              %td= "#{report.fuel_balance} л"
      .reports-footer
        .car-number
          %p= Car.find_by(:id => report.car_id).legal_num
        %p
          %i(class="fa fa-calendar")
          = report.report_date.strftime("%d.%m.%Y")
        %p
          Офицер:
          = report.officer.name
        %p
          = link_to raw('<i class="fa fa-area-chart"></i>Просмотреть'), report_path(report)
        - if report.officer.id == current_officer.id or current_officer.admin?
          %p
            = link_to raw('<i class="fa fa-pencil"></i>Редактировать'), edit_report_path(report)
        - if current_officer.admin?
          %p
            = link_to raw('<i class="fa fa-trash"></i>Удалить'), report, :method => :delete, :data => { :confirm => 'Are you sure?' }
      .reports-sub-footer
        %pПередвижение автомобиля:
        %br
        - if report.mileage_match?
          %p(class="ok")
            %i(class="fa fa-check")
            Пробег соответствует
        - else
          %p(class="wrong")
            %i(class="fa fa-times")
            Пробег не соответствует
        - if report.fuel_difference > 0 and report.cold_period == false
          %p(class="wrong")
            %i(class="fa fa-tint")
            Заправлено на
            = report.fuel_difference
            л больше
        - if report.fuel_difference > 0 and report.fuel_difference <= 3 and report.cold_period
          %p(class="ok")
            %i(class="fa fa-tint")
            Расход топлива соответствует (Зимний период)
        - if report.fuel_difference == 0
          %p(class="ok")
            %i(class="fa fa-tint")
            Расход топлива соответствует
        - if report.overspeed > 0
          %p(class="wrong")
            %i(class="fa fa-tachometer")
            Превышение скорости на
            = report.overspeed
            км/ч
        - if report.overspeed == 0 and report.run_on_track
          %p(class="ok")
            %i(class="fa fa-tachometer")
            Скорость не превышена (Движение вне города)
        - if report.overspeed == 0 and report.run_on_track == false
          %p(class="ok")
            %i(class="fa fa-tachometer")
            Скорость не превышена
        %br
        %pУкопмлектованость экипажа:
        %br
        - if report.radio_exist_quantity == report.car.radio_auto_quantity
          %p(class="ok")
            %i(class="fa fa-check")
            Радиостанции автомобильные:
            = report.radio_exist_quantity
        - else
          %p(class="wrong")
            %i(class="fa fa-times")
            Радиостанции автомобильные:
            = report.radio_exist_quantity
            из
            = report.car.radio_auto_quantity
        - if report.radio_portable_exist == report.car.radio_portable_quantity
          %p(class="ok")
            %i(class="fa fa-check")
            Радиостанции переносные:
            = report.radio_portable_exist
        - else
          %p(class="wrong")
            %i(class="fa fa-times")
            Радиостанции переносные:
            = report.radio_portable_exist
            из
            = report.car.radio_portable_quantity
        - if report.armor_exist_quantity == report.car.armor_quantity
          %p(class="ok")
            %i(class="fa fa-check")
            Бронежилеты:
            = report.armor_exist_quantity
        - else
          %p(class="wrong")
            %i(class="fa fa-check")
            Бронежилеты:
            = report.armor_exist_quantity
            из
            = report.car.armor_quantity
        - if report.helmet_exist_quantity == report.car.helmet_quantity
          %p(class="ok")
            %i(class="fa fa-check")
            Каски:
            = report.helmet_exist_quantity
        - else
          %p(class="wrong")
            %i(class="fa fa-times")
            Каски:
            = report.helmet_exist_quantity
            из
            = report.car.helmet_quantity
        - if report.baton_exist == report.car.baton_quantity
          %p(class="ok")
            %i(class="fa fa-check")
            Палки резиновые:
            = report.baton_exist
        - else
          %p(class="wrong")
            %i(class="fa fa-times")
            Палки резиновые:
            = report.baton_exist
            из
            = report.car.baton_quantity
        - if report.pistol_exist == report.car.pistol_quantity
          %p(class="ok")
            %i(class="fa fa-check")
            Пистолеты:
            = report.pistol_exist
        - else
          %p(class="wrong")
            %i(class="fa fa-times")
            Пистолеты:
            = report.pistol_exist
            из
            = report.car.pistol_quantity
        - if report.machine_gun_exist == report.car.machine_gun_quantity
          %p(class="ok")
            %i(class="fa fa-check")
            Автоматы:
            = report.machine_gun_exist
        - else
          %p(class="wrong")
            %i(class="fa fa-times")
            Автоматы:
            = report.machine_gun_exist
            из
            = report.car.machine_gun_quantity
        - if report.car_kit == true
          %p(class="ok")
            %i(class="fa fa-check")
            Комплект (огнетушитель, знак, аптечка) присутствует
        - else
          %p(class="wrong")
            %i(class="fa fa-times")
            Комплект (огнетушитель, знак, аптечка) отсутствует