!!! 5
%html
  %head
    %title= 'Рапорт дежурного офицера - Служба охраны Кобра'
    = csrf_meta_tags
    = tag 'meta', {:name => "viewport", :content => "width=device-width, initial-scale=1, user-scalable=0"}, true
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if officer_signed_in?
      %header
        %a(href=root_path)
          .site-logo
            %img(src="http://kobra.ks.ua/wp-content/uploads/2015/12/Logo-Kobra-Site1.png")
        .site-menu
          = link_to 'Новый рапорт', root_path
          = link_to 'Все рапорты', reports_path
          = link_to 'Автомобили', cars_path
          - if current_officer.admin?
            = link_to 'Панель управления', '/dashboard'
          - if officer_signed_in?
            = link_to(destroy_officer_session_path, :method => :delete, class: "logout") do
              %p
                Выйти
                %i(class="fa fa-sign-out")
    = yield
